html {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

#buttonsDiv {
  margin: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

#mainTitleDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  height: 60px;
}

.mainTitleInput {
  width: 400px;
}

#mainContainer {
  /*align-items: center;*/
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#stageContainer {
}

.detailsContainer {
  /*height: 400px;*/
}

.detailsTitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2px;
}

.detailsInternal {
  /*height: 360px;*/
  overflow-y: scroll;
}

.detailsRingTitle {
  font-size: 16px;
  font-weight: bold;
  padding-top: 3px;
}

.detailsBlip {
  font-size: 12px;
  cursor: pointer;
}

.highlightedDetails {
  background-color: yellow;
}

#detailsLeft {
  width: 250px;
}

#detailsRight {
  width: 250px;
}

div.blipForm label, div.blipForm input { display:block; }
div.blipForm input[type=radio] { display:inline; }
div.blipForm input.text { margin-bottom:12px; width:95%; padding: .4em; }
div.blipForm textarea { margin-bottom:12px; width:95%; padding: .4em; }
div.blipForm fieldset { padding:0; border:0; margin-top:25px; }
div.blipForm .ui-dialog .ui-state-error { padding: .3em; }
div.blipForm .validateTips { border: 1px solid transparent; padding: 0.3em; }

#viewBlipDescription {
  white-space: pre-wrap;
}

.ui-state-highlight {
  border: 0px!important;
}
